body {
    font-family: Arial, Helvetica, sans-serif;
    background: blue; /* Use color to size box */
}

.container {
    margin: 0 auto;
    max-width: 500px;
    height: 300px;
    background: pink;  /* Use color to size box */
    padding: 20px;
}

h1, p {
    text-align: center;
}

.input-buttons {
    text-align: center;
}